<strong>Olá, {{ student }}!</strong>
<p>Recebemos sua mensagem e abaixo você pode conferir os detalhes dela, inclusive nossa resposta!</p>

<p>
  <strong>Data da mensagem:</strong> {{ message_date }} <br />
  <strong>Mensagem:</strong> {{ message }} <br />
  <strong>Nossa resposta:</strong> {{ answer }} <br/>
  <br />
    <small>
    Qualquer dúvida, você pode entrar em contato conosco através do nosso site, clicando <a href=www.gympoint.com/contato>aqui</a>!
  </small>
</p>

